:root {
  --text-default-primary: #06280C;
  --text-default-secondary: #13331C;
  --text-inverse-primary: #FFFFFF;
  --text-neutral-primary: #008242;
  --text-neutral-secondary: #3A8047;
  --text-brand-primary: #B4E27E;
  --text-brand-secondary: #F0F9E5;

  --bg-default-primary: #FFFFFF;
  --bg-brand-primary: #F0F9E5;
  --bg-brand-secondary: #F7FCF2;

}